@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,300&display=swap');
.contenedor{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 4vw;
    background-color: #1f1f1f;
    
}


.titulo{
    font-family: 'Press Start 2P', cursive;
    font-size: 10vw;
    margin-top: -4vw;
    width: 45%;
    margin-left: 15vw;
    text-transform: uppercase;
    z-index: 999;
    color: #41123dcb;
    text-shadow: 0  2px  0   #22041db7,
                    0  4px  0   #8b157b8f,
                    0  6px  0   #8b15819c, 
                    0  8px  0   #8b1581, 
                    0 10px  0   #8b1581,
                    0 12px  0   #8b1581,
                    3px 8px 15px rgba(0, 0, 0, 0.301),
                    3px 8px  5px rgba(0, 0, 0, 0.596);
                    
   
}



.text{
    width: 45vw;
    height: auto;
    margin-top: -16%;
    padding-left: 2%;
    color: rgb(223, 223, 223);
    border-left: 0.1vw solid #6e1f69cb;
    font-size: 1.5vw;
    letter-spacing: 1px;
    margin-left: 43vw;
    font-family: 'Montserrat', sans-serif;
}

.pixeles{
    filter: drop-shadow(2px 2px 10px rgb(0, 0, 0));
}
.text2{
    margin-left: 14.8vw;
    width:75vw;
    color: rgb(218, 218, 218);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    letter-spacing: 1px;

}


@media (max-width: 1100px) {
    .text{
        font-size: 3vw;
        width: 70%;
        margin-left: 13vw;
        letter-spacing: 1px;
        margin-top: 5%;
        border: none;
        text-align: start;
    }
    .text2{
        font-size: 3vw;
        width: 73%;
        margin-top: 5%;
        border: none;
        text-align: start;
    }
    
  
}

@media( max-height: 450px){
    .text{
        font-size: 2vw;
        width: 70%;
        margin-left: 13vw;
        letter-spacing: 3px;
        margin-top: 0;
        border: none;
        text-align: start;
    }
    .text2{
        font-size: 2vw;
        width: 73%;
        letter-spacing: 3px;
        margin-top: 1%;
        border: none;
        text-align: start;
    }
    

}