@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,300&display=swap');
.contenedor{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
   background-color: #1c1c1c;
   background-image: url("./fondo.gif");
   background-size: contain;
}

.titulo{
    font-family: 'Press Start 2P', cursive;
    font-size: 6vw;
    padding-bottom: 10%;
    margin-top: -5vw;
    width: 45%;
    margin-left: 15vw;
    text-transform: uppercase;
    z-index: 999;
    color: rgb(63, 19, 56);
    text-shadow: 0  2px  0   #961480b7,
                    0  4px  0   #961480b7,
                    0  6px  0   #961480b7, 
                    0  8px  0   #961480b7, 
                    0 10px  0   #961480b7,
                    0 12px  0   #961480b7,
                    4px 8px 15px rgba(39, 39, 39, 0.4),
                    4px 8px  5px rgba(46, 46, 46, 0.3);
                    
   
}

.barra{
    margin-top: -19vw;
    margin-left: 54.2vw;
    width: 0.1vw;
    margin-bottom: 8vw;
    height:15vw;
    background-color: #85257ecb;
   
}

.personaje {
    width: 15vh;
    height: 17vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0vh;
    left: 0;
    animation: caminar 5s linear infinite, x 0.5s linear infinite;
   }
   @keyframes caminar {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 1vw);
    }
}

@keyframes x {
  0%, 16.66% {
      background-image: url(./pixelart/6.png);
  }
  16.67%, 33.33% {
      background-image: url(./pixelart/1.png);
  }
  33.34%, 50% {
      background-image: url(./pixelart/2.png);
  }
  50.01%, 66.67% {
      background-image: url(./pixelart/3.png);
  }
  66.68%, 83.34% {
      background-image: url(./pixelart/4.png);
  }
  83.35%, 100% {
      background-image: url(./pixelart/5.png);
  }
}

.contacto{
    position: absolute;
    margin-top: -360px;
    margin-left: 860px;
}



.btn {
  display: block;
  padding: 0.7em 1em;
  background: transparent;
  outline: none;
  border: 0;
  color: #f880f2;
  letter-spacing: 0.1em;
  font-family: monospace;
  font-size: 17px;
  font-weight: bold;
  z-index: 1;
  margin-bottom: 40px;
}

.cube {
  position: relative;
  transition: all 0.5s;
}

.cube .bg-top {
  position: absolute;
  height: 10px;
  background: #9c0e95;
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
  transition: all 0.4s;
}

.cube .bg-top .bg-inner {
  bottom: 0;
}

.cube .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: #9c0e95;
  transition: all 0.4s;
}

.cube .bg-right {
  position: absolute;
  background: #9c0e95;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
  transition: all 0.4s;
}

.cube .bg-right .bg-inner {
  left: 0;
}

.cube .bg-inner {
  background: #28282d;
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
}

.cube .text {
  position: relative;
  transition: all 0.4s;
}

.cube:hover .bg-inner {
  background: #9c0e95;

  transition: all 0.4s;
}

.cube:hover .text {
  color: #28282d;
  transition: all 0.4s;
}

.cube:hover .bg-right,
.cube:hover .bg,
.cube:hover .bg-top {
  background: #28282d;
}

.cube:active {
  z-index: 9999;
  animation: bounce 0.1s linear;
}

@keyframes bounce {
  50% {
    transform: scale(0.9);
  }
}

@media (max-width: 1100px) {
  

.contacto{
  position: relative;
  margin-top: -4vw;
  display: flex;
  margin-left: 6vw;
  padding-bottom: 6vw;
}



}

@media (max-width: 900px) {
  .contenedor{
    height: 100%;
    background-size: cover;
  }

  .titulo{
    font-family: 'Press Start 2P', cursive;
    font-size: 10vw;
    width: 100%;
    text-align: center;
    margin-left: 0vw;
}

.contacto{
  position: relative;
  margin-top: -4vw;
  display: flex;
  justify-content: space-around;
  margin-left: 0vw;
  padding-bottom: 20vw;
}



.barra{
  display: none;
}
.contenedor svg{
  display: none;
}
.titulo{
  font-family: 'Press Start 2P', cursive;
  font-size: 10vw;
  padding-bottom: 10%;
  margin-top: 12vw;
  
}

}

@media( max-height: 450px){
  
  .personaje{
    width: 25vh;
    height: 28vh;
  }
    

}