@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,300&display=swap');
.contenedor{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
   background-color: #1c1c1c;
   background-image: url("./fondo.gif");
   background-size: contain;
}

.titulo{
    font-family: 'Press Start 2P', cursive;
    font-size: 6vw;
    padding-bottom: 10%;
    margin-top: -5vw;
    width: 45%;
    margin-left: 15vw;
    text-transform: uppercase;
    z-index: 999;
    color: rgb(63, 19, 56);
    text-shadow: 0  2px  0   #961480b7,
                    0  4px  0   #961480b7,
                    0  6px  0   #961480b7, 
                    0  8px  0   #961480b7, 
                    0 10px  0   #961480b7,
                    0 12px  0   #961480b7,
                    4px 8px 15px rgba(39, 39, 39, 0.4),
                    4px 8px  5px rgba(46, 46, 46, 0.3);
                    
   
}

.barra{
    margin-top: -19vw;
    margin-left: 54.2vw;
    width: 0.1vw;
    margin-bottom: 8vw;
    height:15vw;
    background-color: #85257ecb;
   
}

.personaje {
    width: 15vh;
    height: 17vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0vh;
    left: 0;
    animation: caminar 5s linear infinite, x 0.5s linear infinite;
   }
   @keyframes caminar {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 1vw);
    }
}

@keyframes x {
  0%, 16.66% {
      background-image: url(./pixelart/6.png);
  }
  16.67%, 33.33% {
      background-image: url(./pixelart/1.png);
  }
  33.34%, 50% {
      background-image: url(./pixelart/2.png);
  }
  50.01%, 66.67% {
      background-image: url(./pixelart/3.png);
  }
  66.68%, 83.34% {
      background-image: url(./pixelart/4.png);
  }
  83.35%, 100% {
      background-image: url(./pixelart/5.png);
  }
}

.contacto{
    position: absolute;
    margin-top: -28vw;
    margin-left: 50vw;
}

.contacto a{
    display: flex;
    margin-top: 1vw;
    text-decoration:none;
    text-align: left;
    color: white;
    margin-left: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    align-items: center;
}


.contacto a img{
    width: 2vw;
    margin: 0;
    padding: 0;
    height: 2vw;
    margin-right: 1vw;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));

}

.contacto a button{
  width: 15vw;
  display: flex;
  margin-bottom: 4vh;
  align-items: center;
  border-radius: 0.3vw;
  border: none;
  height: 3vw;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
  font-size: 1vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  transition: 0.5s ease all;
}

.mail{
  background-color: rgb(126, 126, 126);
}

.whats{
  background-color: 	#25d366;
}

.link{
  background-color: #0e76a8;
}

.contacto a button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 1100px) {
  
  .barra{
    margin-top: -5vw;
    margin-left: 7.5vw;
    width: 85vw;
    margin-bottom: 8vw;
    height:0.1vw;
    background-color: #85257ecb;
}
.contacto{
  position: relative;
  margin-top: -4vw;
  display: flex;
  margin-left: 6vw;
  padding-bottom: 6vw;
}

.contacto a{
  display:flex;
  margin-top: 1vw;
  text-align: left;
  color: white;
  margin-left: 5.5vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  align-items: center;
}
.contacto a button{
  width: 20vw;
  height: 5vw;
  font-size: 1.6vw;
  margin-left: 1vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.personaje{
  width: 10vh;
  height: 11.5vh;
}
.contacto a img{
  width: 3vw;
  height: 3vw;
}

}

@media (max-width: 900px) {
  .contenedor{
    height: 100%;
    background-image: none;
  }
  .titulo{
    font-family: 'Press Start 2P', cursive;
    font-size: 13vw;
    width: 100%;
    text-align: center;
    margin-left: 0vw;
}
.contacto a img{
  width: 4vw;
  height: 4vw;
}
.contacto a button{
  width: 25vw;
  height: 10vw;
  font-size: 2.2vw;
  margin-left: 0vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.contacto{
  position: relative;
  margin-top: -4vw;
  display: flex;
  justify-content: space-around;
  margin-left: 0vw;
  padding-bottom: 6vw;
}


.contacto a{
  display: flex;
  margin-top: 1vw;
  text-decoration:none;
  text-align: left;
  color: white;
  margin-left: 0vw;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  align-items: center;
}
.barra{
  display: none;
}

}