::-webkit-scrollbar {
    width: 0px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background: #9c9c9c00; /* Color de fondo de la pista de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #952f9e00; /* Color del "pulgón" de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #55555500; /* Color del "pulgón" cuando se pasa el cursor por encima */
  }


.conte{
  overflow: hidden;
  cursor: url(./cursor2.png),auto;
}

